<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="text-center">Oops!</h1>
                <h2 class="text-center">404 Page not found</h2>

                <div class="error-details">
                    <h4 class="text-center">Sorry, an error occured,page not found</h4>
                </div>

                <div class="error-action">
                    <button routerLink="/" class="btn btn-primary">
                        Go Back Home</button>
                </div>
            </div>
        </div>
    </div>
</div>