*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    margin-top: 20px;
}



.search-bar-1{
    text-align: center;
    position: absolute;
    top: 13%;
    left: 25%;
    width: 350px;
    height: 40px;
    border-radius: 5px;
}

.search-bar-2{
    
    position: absolute;
    top: 13%;
    left: 50%;
    width: 350px;
    height: 40px;
    border-radius: 5px;
}

.product-data{
    margin-top: 80px;
}

table{
    border: 2px solid black;
    width: 100%;
    text-align: center;
    background-color: bisque;
    margin-left: 20px;
    margin-top: 5px;
}


button{
    width: 60px;
    height: 30px;
    font-size: 12px;
   
}

.cancel{
    margin-top: 5px;
}


.btn button{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    font-size: 12px;
    margin-top:40px
}


