 <div class="container">
    <div class="list">

        <div class="text-center">
            <h1 style="margin-top: 20px;">List of Products</h1>
        </div>

        <div class="search-bars">
           
            <input type="search" class="search-bar-1" placeholder="Search...." [(ngModel)]="searchBarValue1">
             <span class="fa fa-search" id="search1"></span>

           <input type="search" class="search-bar-2" placeholder="Search...." #searchBarValue2
            [hidden]="!allowProductSearch">
            <span class="fa fa-search" id="search2" [hidden]="!allowProductSearch"></span>
        </div>


        <div class="product-data">

            <div class="btn">
                <button type="button" class="btn btn-danger" (click)="deleteSelectedItems()" *ngIf="allowMultipleDelete">
                    Delete selected Products</button>
                <button type="button" class="btn btn-primary" routerLink="/main"
                style="margin-left: 40px;">Go to Main screen</button>
                <button class="btn btn-danger" (click)="deleteAllProductsData()" style="margin-left: 40px;">
                    Delete all Products list</button>
            </div>

           
            <table class="table table-bordered">
                <thead>
                  <tr class="head-data">
                    <th *ngIf="allowMultipleDelete"><input type="checkbox" id="check"></th>
                    <th>Name</th>
                    <th>Product Expiry</th>
                    <th>No. of items in stock</th>
                    <th>Heading</th>
                    <th>Subheading</th>
                    <th>tags</th>
                    <th>Description</th>
                    <th>Actions</th>    
                </tr>
               </thead>

               <tbody>
               <tr *ngFor="let product of productData | filter:searchBarValue1  ">

                <td *ngIf="allowMultipleDelete"><input type="checkbox" name="check" id="check" (change)="onChecked(product.id)"></td>
                <td><a href="#" routerLink="/products-details/{{product.id}}" style="text-decoration: none;">{{product.productName}}</a></td>
                <td>{{product.expiry}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.heading}}</td>
                <td>{{product.subheading}}</td>
                <td>{{product.tags}}</td>
                <td>{{product.description}}</td>
                <td>
                    <div class="edit">
                        <i class="fas fa-edit" (click)="onEdit(product.id)" id="icon"
                        style="font-size:20px;color:blue"></i>
                        
                        <!-- <button class="btn btn-success"  (click)="onEdit(product.id)"
                        >Edit</button>  -->
                    </div>
                    <div class="cancel">
                        <i class="fa fa-trash" (click)="onRemove(product.id)" style="font-size:20px;color:red" id="icon"></i>
                        <!-- <button class="btn btn-danger" (click)="onRemove(product.id)">Remove</button> -->
                    </div>
                    
                  
                </td>
              </tr>
            </tbody>
        </table>
       
       


       
    
    </div>
</div>
</div> 
