<div class="side-bar">
  <ul class="nav-list" [ngClass]="{'nav-list-open':isSideBar}">

      <li class="nav-item">
        <i class="fa fa-fw fa-home"></i>
        <span><a (click)="onHome()">Home</a></span>
      </li>


      <li class="nav-item" *ngIf="allowCreate">
        <i class="fas fa-shopping-cart"></i>
        <span><a (click)="onQuickCreateProduct()">Quick Create Product</a></span>
      </li>

      <li class="nav-item" *ngIf="allowCreate">
        <i class="fas fa-shopping-cart"></i>
        <span><a (click)="onCreateProduct()">Create Product</a></span>
      </li>

      <li class="nav-item" *ngIf="isAdmin">
        <i class="fas fa-cog mx-1"></i>
        <span><a routerLink="/settings">Settings</a></span>
      </li>
  </ul>

</div>
