.dropdown-item{
    cursor: pointer;
    color: red;
    font-size: large;
    font-weight:600;
}

#user-link {
    font-size: 20px;
    text-decoration: none;
    color:greenyellow;
    cursor: pointer;
    font-weight:600;
}




