<div class="container" *ngIf="product!=undefined">
    
     <div class="heading" >
        <h1 class="text-center">Product details</h1>
     </div>

     <div class="product-details">
        
         <p><strong>Product Name : </strong>{{product.productName}}</p>
        <p><strong>Heading :</strong> {{product.heading}} </p>
        <p><strong>Subheading :</strong> {{product.subheading}} </p>
        <p><strong>Description</strong> : {{product.description}}</p>
        <p><strong>Expiry :</strong> {{product.expiry}} </p>
        <p><strong>Number of items available in stock :</strong> {{product.stock}}</p>
        <p><strong>Tags :</strong> {{product.tags}}</p>
     </div>

    
      <button class="btn btn-success" (click)="onEdit()"
        style="margin-left: 580px;">Edit</button>
     

     <button class="btn btn-danger" (click)="onRemove()"
       style="margin-left:40px">Remove</button>

    

     
   

</div>